@import 'tailwindcss';


.breadcrumb-item {
    color: var(--color-slate-500);
}

.breadcrumb-item.active {
    color: black;
}

.dark .breadcrumb-item.active {
    color: white;
}

.breadcrumb-header {
    background-color: var(--p-primary-300)
}

.p-skeleton {
    background-color: var(--p-primary-300) !important; /* màu nền chính */
}
  
.p-skeleton::after {
background: linear-gradient(90deg, transparent, var(--p-primary-50), transparent) !important;
}